<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Inventory Management System</name>
  <service>
    <type>_http._tcp</type>
    <port>443</port>
    <txt-record>path=/</txt-record>
    <txt-record>https=1</txt-record>
  </service>
</service-group>
